* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 40px;
    background-color: black;
    color:white;
    padding: 60px;
    color: 000;
    text-align: center;
}

body {
    background-color: #000;
}

/* หัวข้อ */
main {
    padding: 0 50px 70px 50px;
}

/* กล่องสีเทา */
.container {
    height: 65vh;
    padding: 50px;
    background-color: #1d1d1d;
    border: 1.8px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.topic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 50px; 
}

.caption {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.box-item {
    height: 35vh;
    width: 23vw;
    border: 1.7px solid white;
    border-radius: 20px;
    text-align: center;
    transition: all 0.8s ease 50ms;
    background-size: cover;
}

.box-item:hover {
    transform: scale(1.2);
    border: 2px solid yellow;
}


.box1 {
    background-image: url('https://th.bing.com/th/id/OIP.r6vTKn02t3gCy7H-i-AQPgHaEK?w=286&h=180&c=7&r=0&o=7&cb=ucfimgc2&dpr=1.3&pid=1.7&rm=3');
}

.box2 {
    background-image: url('https://1.bp.blogspot.com/-4Xe0I_4ZxlQ/XyZC_5_3l0I/AAAAAAAAAUc/aWs_HlVZAfoVFAjI_VfTay8X-2ZgOIKWgCLcBGAsYHQ/s640/b3d66dcea4214b0897ff7130dc055299.jpeg-2.png');
}

.box3 {
    background-image: url('start-up.jpg');
}